body {
  background-color: #dff5e1;
  margin: 0;
  font-family: Arial, sans-serif;
}

#box {
  width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #e8f5e9;
  border: 2px solid #4caf50;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  visibility: hidden;
}

#box h1 {
  color: #2e7d32;
  font-size: 32px;
  margin-bottom: 20px;
}

#box p {
  color: #333;
  font-size: 18px;
  line-height: 1.7;
}
button {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

button:hover {
  background-color: #1b5e20;
  transform: scale(1.05);
}

.sun {
  width: 350px;
  height: 250px;
  box-shadow: 0 8px 20px rgba(48, 48, 48, 0.25);
  border: 3px solid #906714;
  transition: 0.3s ease;
}

.sun-image {
  width: 180px;
  height: 130px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border: 3px solid #f5b942;
  transition: 0.3s ease;
}

.sun:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}
